@model Rifa

@{
    ViewData["Title"] = "Crear Nueva Rifa";
}

<div class="container mx-auto p-4 max-w-md sm:max-w-lg md:max-w-xl">
    <h1 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-6 text-center">Crear Nueva Rifa</h1>

    @Html.ValidationSummary(true, "", new { @class = "text-red-600 text-sm mb-4" })

    <form asp-action="Crear" method="post" class="bg-white p-6 rounded-lg shadow-md">
        <div class="mb-4">
            <label asp-for="nombreSorteo" class="block text-sm font-medium text-gray-700">Nombre de la Rifa</label>
            <input asp-for="nombreSorteo" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" />
            <span asp-validation-for="nombreSorteo" class="text-red-500 text-xs"></span>
        </div>

        <div class="mb-4">
            <label asp-for="precioPorNumero" class="block text-sm font-medium text-gray-700">Precio por Número (CRC)</label>
            <input asp-for="precioPorNumero" type="number" step="100" min="100" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" />
            <span asp-validation-for="precioPorNumero" class="text-red-500 text-xs"></span>
        </div>

        <div class="mb-4">
            <input asp-for="cantidadNumeros" type="hidden" />
            <p class="mt-1 text-gray-700">Total de Números: @Model.cantidadNumeros</p>
        </div>

        <div class="mb-6">
            <label asp-for="fechaCierreSorteo" class="block text-sm font-medium text-gray-700">Fecha de Cierre</label>
            <input asp-for="fechaCierreSorteo"
                   type="date"
                   min="@DateTime.UtcNow.ToString("yyyy-MM-dd")"
                   class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" />

            <span asp-validation-for="fechaCierreSorteo" class="text-red-500 text-xs"></span>
        </div>

        <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Crear Rifa
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tailwindcss.com"></script>
}
